{% extends 'admin/adminbase.html.twig' %}
{% block title %}{% endblock %}

{% block content %}

        <section class="wrapper site-min-height">
            <h3><b></b></h3><br>
            <form action="{{ path ('admin_image_new',{'pid':pid}) }}" method="post" enctype="multipart/form-data">
                <h4>Select image to upload in galery:</h4><br><br>
                <input name="productId" type="hidden" value="{{ pid }}" readonly><br>
                <input type="file" name="imagename" id="fileToUpload" required><br>
                <input type="submit" value="Upload Image" name="submit" ><br>
            </form><br>
        </section>
        <!-- /wrapper -->
{% endblock %}
