{% extends 'admin/adminbase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section id="main-content">
    <section class="wrapper site-min-height">
    </section>
</section>
{% endblock %}
